
PRODUCT_BUNDLE_IDENTIFIER = com.tradervpn-ios
PRODUCT_DISPLAY_NAME = Safeline VPN
DEVELOPMENT_TEAM = N2X2L89ZJ3
GOOGLE_SERVICE_PLIST = GoogleService-Info

SLASH = /

SAFELINE_URL = https:$(SLASH)/api.tradervpn.com/v3v
SAFELINE_FORGOT_PASSWORD_URL = https:$(SLASH)/tradervpn.com/forgot-password/?email=

PROVIDER_BUNDLE_IDENTIFIER = com.tradervpn-ios.TunnelProvider
PROVIDER_APP_GROUP = group.com.tradervpn-ios
PROVIDER_DISPLAY_NAME = Safeline_OpenVPN

FASTLANE_APPLE_ID = apple@teamvoy.com
FASTLANE_ITC_TEAM_ID = 119551071
FASTLANE_CERTIFICATES_GIT_URL = git@ssh.hub.teamvoy.com:mobile/certificates.git
FASTLANE_CERTIFICATES_GIT_BRANCH = trader_production
FASTLANE_SLACK_URL = hooks.slack.com/services/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

